In [1]:
import pandas as pd

cities_df = pd.read_csv('./cities.csv')
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lorengau,-2.0226,147.2712,83.32,79.0,18.0,11.16,PG,1.628224e+09
1,rikitea,-23.1203,-134.9692,74.16,75.0,10.0,14.50,PF,1.628224e+09
2,nanortalik,60.1432,-45.2371,45.88,96.0,100.0,2.06,GL,1.628224e+09
3,hithadhoo,-0.6000,73.0833,82.87,69.0,97.0,7.58,MV,1.628223e+09
4,avarua,-21.2078,-159.7750,77.05,57.0,75.0,2.30,CK,1.628223e+09
...,...,...,...,...,...,...,...,...,...
538,ambulu,-8.3450,113.6058,87.33,61.0,96.0,8.52,ID,1.628225e+09
539,marshall,34.3834,-86.3333,76.08,79.0,1.0,0.00,US,1.628225e+09
540,rey bouba,8.6724,14.1786,71.58,96.0,73.0,1.63,CM,1.628225e+09
541,esfahan,32.6572,51.6776,80.24,21.0,97.0,3.62,IR,1.628225e+09
542,wucheng,29.6008,118.1750,93.04,53.0,49.0,7.40,CN,1.628225e+09

In [2]:
cities_df.to_html('./cities.html')